{% extends "layout.html" %}
{% block body %}
    {% if message %}
        {{ message }}
    {% endif %}
    <form action="/signin" method="post" onsubmit="return submit_form()">
        <p>姓名:<input name="name" id="name" placeholder="name"></p>
        <p>密码:<input name="password" placeholder="Password" type="password"></p>
        <p>邮箱:<input name="email"></p>
        <p>性别:<input name="sex" value="0" type="radio">男<input name="sex" value="1" type="radio">女</p>
        <p>
            <button type="submit">Sign In</button>
        </p>
    </form>
    <script>
        function submit_form(){
            var name = $('#name').val();
            if(name == null || name.trim() == ""){
                alert('姓名不能为空')
                return false
            }
        }
    </script>

{% endblock %}