<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例</title>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <p>[[ message ]]</p>
    </div>
    <div id="app1">
        <div v-html="message"></div>
    </div>
    <div id="app2">
        <p>[[ message ]]</p>
        <input v-model="message">
    </div>
    <div id="app3">
        <div v-if="Math.random() > 0.5">
          Sorry
        </div>
        <div v-else>
          Not sorry
        </div>
        <div>
            [[message]]
        </div>
    </div>

    <div id="watch-example">
        <p>
            ask a yes/no question
            <input v-modle="question">
        </p>
        <p>[[ answer ]]</p>
    </div>

    <br>
    <script>
        var vm = new Vue({
            el: '#watch-example',
            delimiters: ["[[", "]]"],
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question!'
            },
            // 如果 `question` 发生改变，这个函数就会运行
            watch: {
                question: function(newQuestion, oldQuestion){
                    this.answer = 'Waiting for you to stop typing...'
                    this.getAnswer()
                }
            },
            methods: {
                // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
                // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
                // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
                // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
                // 请参考：https://lodash.com/docs#debounce
                getAnswer: _.debounce(
                    function () {
                        if(this.question.indexOf('?') == -1){
                            this.answer = 'Questions usually contain a question mark. ;-)'
                            return
                        }
                        this.answer = 'thinking...'
                        var vm1 = this
                        axios.get('https://yesno.wtf/api').then(function (res) {
                            vm1.answer = _.capitalize(res.data.answer)
                        }).catch(function (error) {
                            vm1.answer = 'Error! Could not reach the API. ' + error
                        })
                    }, 500 // 这是我们为判定用户停止输入等待的毫秒数
                )
            }
        })


        new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data: {
                message: 'Hello Vue.js!'
            }
        })
        new Vue({
            el: '#app1',
            data: {
                message: '<h1>大写的</h1>'
            }
        })
        new Vue({
            el: '#app2',
            delimiters: ["[[", "]]"],
            data: {
                message: '双向绑定!'
            }
        })
        new Vue({
            el: '#app3',
            delimiters: ["[[", "]]"],
            data: {
                message:Math.random()
            }
        })
    </script>
</body>

</html>