{% extends "base.html" %}
{% block body %}
    <span id="errorTip">
        {% if result and result.code == 100 %}
            {{ result.message }}
        {% endif %}
    </span>
    <form action="add_user" method="post" id="form" onsubmit="submit_form()">
        {% if result and result.code == 100 %}
            <p>姓名:<input name="name" id="name" value="{{ result.data.name }}"></p>
        {% else %}
            <p>姓名:<input name="name" id="name" placeholder="name"></p>
        {% endif %}
        <p>密码:<input name="password" placeholder="Password" type="password"></p>
        {% if result and result.code == 100 %}
            <p>邮箱:<input name="email" value="{{ result.data.email }}"></p>
        {% else %}
            <p>邮箱:<input name="email"></p>
        {% endif %}
        <p>性别:<input name="sex" value="0" type="radio">男<input name="sex" value="1" type="radio">女</p>
        <p>
            <button type="submit">Sign In</button>
        </p>
    </form>
{% endblock %}
{% block script %}
    <script>

        function submit_form() {
            var name = $('#name').val();
            if (name == null || name.trim() == "") {
                alert('姓名不能为空');
                return false;
            }

        };

        $(function () {
            $('#name').focus(function () {
                $('#errorTip').html('');
                $('#errorTip').hide();
            });
        });
    </script>
{% endblock %}